<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# **Project 3: Web APIs & NLP**

### **Part 2: Data Cleaning**

Import Libraries Here

In [1]:
import pandas as pd

Import datasets

In [2]:
df_hot_depression = pd.read_csv('../datasets/post_depression.csv')
df_hot_happy = pd.read_csv('../datasets/post_happy.csv')
df_new_depression = pd.read_csv('../datasets/post_new_depression.csv')
df_new_happy = pd.read_csv('../datasets/post_new_happy.csv')
df_comment_depression = pd.read_csv("../datasets/comment_depression.csv")
df_comment_happy = pd.read_csv("../datasets/comment_happy.csv")

### **Data Cleaning**

In this part of the notebook, we will do analysis duplicates and empty columns of the datasets, followed by applying necessary method to tackle these matters.

Check datasets information

1. Datasets from r/depression 

- Depression **hot** posts

In [3]:
df_hot_depression.head()

,id,title,body,author,score,total comment,created_utc,subreddit
0,doqwow,Our most-broken and least-understood rules is ...,We understand that most people who reply immed...,SQLwitch,2364,177,1572360722,depression
1,16kqyd7,"Regular check-in post, with information about ...",Welcome to /r/depression's check-in post - a p...,SQLwitch,66,395,1694923331,depression
2,1bk9m1a,What's yalls depression food,Mine is either Mac&cheese hotdogs or lemons an...,pan-playdate,176,355,1711035875,depression
3,1bkonr0,"Suicides in the US reached over 50k in 2023, t...","It’s crazy for me to think, if that many peopl...",TheChubbyPlant,21,5,1711074477,depression
4,1bkkksj,Antidepressants will make sex impossible,I've been on several antidepressants. You can'...,Beneficial-Tax-9093,23,29,1711062851,depression

In [4]:
df_hot_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25086 entries, 0 to 25085
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             25086 non-null  object
 1   title          25086 non-null  object
 2   body           25086 non-null  object
 3   author         24830 non-null  object
 4   score          25086 non-null  int64
 5   total comment  25086 non-null  int64
 6   created_utc    25086 non-null  int64
 7   subreddit      25086 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.5+ MB

- Depression **new** posts

In [5]:
df_new_depression.head()

,id,title,body,author,score,total comment,created_utc,subreddit
0,1bmd4ud,Jobless,I'm currently jobless i had gone through depre...,Independent_Show9505,1,0,1711257670,depression
1,1bmd45v,19 and have nothing to show for it,"I haven't finished highschool, I basically hav...",Lux_butimnotreal,1,0,1711257598,depression
2,1bmd2og,"Need help ,is this healthy",I’ll get straight to it I’ve been on this dati...,Ok_Code_2143,1,0,1711257433,depression
3,1bmd2cx,Gut wrench,\n\nThe sinking feeling your heart gets right ...,Critical-Strength-83,1,0,1711257398,depression
4,1bmcwt4,I feel like my girlfriend is depressed and I w...,My girlfriend and I have been going strong for...,Fit-Basil-5447,1,1,1711256827,depression

In [6]:
df_new_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             987 non-null    object
 1   title          987 non-null    object
 2   body           987 non-null    object
 3   author         981 non-null    object
 4   score          987 non-null    int64
 5   total comment  987 non-null    int64
 6   created_utc    987 non-null    int64
 7   subreddit      987 non-null    object
dtypes: int64(3), object(5)
memory usage: 61.8+ KB

- Depression **comments**

In [7]:
df_comment_depression.head()

,id,body,author,score,created_utc,subreddit
0,f5pot56,Understood and I apologise if I forget in the ...,scorpiontank27,237,1572364418,depression
1,f5pot7j,[removed],NaN,63,1572364419,depression
2,f647tsy,Biggest Problem on private talks may be that y...,BloodyClash1133,47,1572689495,depression
3,f5pnusx,I have to agree with this. I know that people ...,NaN,47,1572363803,depression
4,f5pq8wf,Great rule! I’ve never thought about things yo...,000000-,14,1572365346,depression

In [8]:
df_comment_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41333 entries, 0 to 41332
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           41333 non-null  object
 1   body         41333 non-null  object
 2   author       39665 non-null  object
 3   score        41333 non-null  int64
 4   created_utc  41333 non-null  int64
 5   subreddit    41333 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

2. Datasets from r/happy

- Happy **hot** posts

In [9]:
df_hot_happy.head()

,id,title,body,author,score,total comment,created_utc,subreddit
0,v97etn,r/happy has a discord server!,NaN,NaN,70,6,1654866539,happy
1,1bk9ush,"After a truly brutal quarter of grad school, I...",NaN,biegman,369,15,1711036507,happy
2,1bkkcp8,We need more civilised discourse like this ❤️,NaN,Acceptable_Day_1926,38,1,1711062266,happy
3,1bjnlra,I live in Oklahoma. Got this message from a pe...,NaN,davinpantz,1724,31,1710966787,happy
4,1bjz1za,I’m so grateful I found an industry that makes...,I’m a 20 year old in my last year of college a...,cherrytortoni,126,11,1710998579,happy

In [10]:
df_hot_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25280 entries, 0 to 25279
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             25280 non-null  object
 1   title          25280 non-null  object
 2   body           13880 non-null  object
 3   author         24640 non-null  object
 4   score          25280 non-null  int64
 5   total comment  25280 non-null  int64
 6   created_utc    25280 non-null  int64
 7   subreddit      25280 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.5+ MB

- Happy **new** posts

In [11]:
df_new_happy.head()

,id,title,body,author,score,total comment,created_utc,subreddit
0,1bmd3kx,i hit 8 months sober today!!! (and i couldnt b...,NaN,haute_honey,8,3,1711257536,happy
1,1bmbu9p,I just had one of the most delicious meals in ...,There wasn't anything special about it really....,Someragingpacifist,3,2,1711253084,happy
2,1bm8fue,I managed to minimize my screen time by about ...,"I am not a phone addict, but I always used to ...",saayoutloud,4,6,1711242519,happy
3,1bm85b6,"Out of work for the last 5 months, finally lan...",Was starting to feel worthless. I could cry I’...,bakerjunt,92,3,1711241694,happy
4,1bm7hqc,Today marks 2 years alcohol-free for me. I was...,NaN,theeblackdahlia,280,23,1711239848,happy

In [12]:
df_new_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             968 non-null    object
 1   title          968 non-null    object
 2   body           542 non-null    object
 3   author         945 non-null    object
 4   score          968 non-null    int64
 5   total comment  968 non-null    int64
 6   created_utc    968 non-null    int64
 7   subreddit      968 non-null    object
dtypes: int64(3), object(5)
memory usage: 60.6+ KB

- Happy **comments**

In [13]:
df_comment_happy.head()

,id,body,author,score,created_utc,subreddit
0,jnx95nz,But no involvement in the protest?,SorcererSupreme21,3,1686600125,happy
1,jnxcwhi,Shut down the subreddit,WhoDidYourCirc_Bro,3,1686602074,happy
2,k7jijc6,Is this discord active? :),MaxSteelMetal,1,1698949875,happy
3,kw014ic,Welcome to /r/happy where we support people in...,AutoModerator,1,1711081369,happy
4,kw0215k,Robin eggs! What an Easter blessing.,Independent_Ad_5664,140,1711081849,happy

In [14]:
df_comment_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130922 entries, 0 to 130921
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           130922 non-null  object
 1   body         130922 non-null  object
 2   author       127162 non-null  object
 3   score        130922 non-null  int64
 4   created_utc  130922 non-null  int64
 5   subreddit    130922 non-null  object
dtypes: int64(2), object(4)
memory usage: 6.0+ MB

Create 2 dataframes for depression and happy by combining hot, new posts and comments respectively

1. Depression dataframe

In [15]:
df_depression = pd.concat([df_hot_depression,df_new_depression, df_comment_depression], axis = 0)

In [16]:
df_depression.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67406 entries, 0 to 41332
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             67406 non-null  object
 1   title          26073 non-null  object
 2   body           67406 non-null  object
 3   author         65476 non-null  object
 4   score          67406 non-null  int64
 5   total comment  26073 non-null  float64
 6   created_utc    67406 non-null  int64
 7   subreddit      67406 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 4.6+ MB

2. Happy Dataframe

In [17]:
df_happy = pd.concat([df_hot_happy,df_new_happy,df_comment_happy], axis = 0)

In [18]:
df_happy

,id,title,body,author,score,total comment,created_utc,subreddit
0,v97etn,r/happy has a discord server!,NaN,NaN,70,6.0,1654866539,happy
1,1bk9ush,"After a truly brutal quarter of grad school, I...",NaN,biegman,369,15.0,1711036507,happy
2,1bkkcp8,We need more civilised discourse like this ❤️,NaN,Acceptable_Day_1926,38,1.0,1711062266,happy
3,1bjnlra,I live in Oklahoma. Got this message from a pe...,NaN,davinpantz,1724,31.0,1710966787,happy
4,1bjz1za,I’m so grateful I found an industry that makes...,I’m a 20 year old in my last year of college a...,cherrytortoni,126,11.0,1710998579,happy
...,...,...,...,...,...,...,...,...
130917,kdixfas,NaN,Great achievement!\nTake a good care for your ...,Distinct-Asparagus93,1,NaN,1702676000,happy
130918,kdlfprr,NaN,Congrats,EandKprophecy2,1,NaN,1702722705,happy
130919,kdxob70,NaN,"Absolutely, my friend! Picture this: You, stan...",elsarichard1020,1,NaN,1702929371,happy
130920,kdkwf92,NaN,Looks like it. Yuppp,DavidLynch-Theater,1,NaN,1702708648,happy
130921,kdljrtp,NaN,I noticed the same 🤣🤣,Glittering_Leg4193,1,NaN,1702725492,happy

In [19]:
df_happy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157170 entries, 0 to 130921
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             157170 non-null  object
 1   title          26248 non-null   object
 2   body           145344 non-null  object
 3   author         152747 non-null  object
 4   score          157170 non-null  int64
 5   total comment  26248 non-null   float64
 6   created_utc    157170 non-null  int64
 7   subreddit      157170 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 10.8+ MB

Check any duplicates on the datasets 

1. Datasets from r/depression

The code below checks if there are duplicated rows

In [20]:
#check if there are any duplicated rows 
df_depression.duplicated().value_counts()

True     60351
False     7055
Name: count, dtype: int64

However, looking at the datasets csv file, some posts `title` and `body` are duplicated but the `score` has different values. We are only interested to analyze the words content from `title` and `body`, we want to avoid duplication on these columns

The code below is to check specifically if there are duplications on the `title` and `body`

In [21]:
#check specifically if id, title, and body have duplicates
df_depression[['id','title','body']].duplicated().value_counts()

True     62773
False     4633
Name: count, dtype: int64

2. Datasets from r/happy

The code below checks if there are duplicated rows

In [22]:
#check if there are any duplicated rows 
df_happy.duplicated().value_counts()

True     137449
False     19721
Name: count, dtype: int64

Same as the explanation above, the code below is to check specifically if there are duplications on the `title` and `body`

In [23]:
#check specifically if title and body have duplicates
df_happy[['id','title','body']].duplicated().value_counts()

True     147994
False      9176
Name: count, dtype: int64

Drop duplicated rows for both datasets

In [24]:
#drop duplicates on depression dataframe 
df_depression.drop_duplicates(subset = ['id','title','body'], inplace=True)
#reset index
df_depression.reset_index(drop=True, inplace=True)

In [25]:
#drop duplicates on happy dataframe 
df_happy.drop_duplicates(subset = ['id','title','body'], inplace=True)
#reset index
df_depression.reset_index(drop=True, inplace=True)

Check number of null value in both datasets after droping duplicates

In [26]:
#check null values for depression dataframe 
df_depression.isnull().sum()

id                  0
title            3365
body                0
author            149
score               0
total comment    3365
created_utc         0
subreddit           0
dtype: int64

In [27]:
#check null values for happy dataframe 
df_happy.isnull().sum()

id                  0
title            8197
body              435
author            259
score               0
total comment    8197
created_utc         0
subreddit           0
dtype: int64

Looking at both datasets, the null values come from `title`,`body`, `author`, `total comment`. Below are the explanation on the cause of the null values
- `title` the empty cells are due to combination of posts and comments, since comments datasets does not have title
- `body` looking at r/happy, some of the posts body are pictures, which is not readable. That is the reason some of body is empty
- `author` in reddit, the author of the posts could have been deleted
- `total comment` the empty cells are due to combination of posts and comments, comment datasets does not have this column

As we are only interested to analyze the words from the posts and comments which are on `title` and `body` columns, we will combine them as one new column called `title_and_body`. The other columns empty cells are not relevant for our analysis, so we will leave it.

Combine title and body as a new column

In [28]:
#fill all NaN cells with empty str
df_depression = df_depression.fillna('')
df_happy = df_happy.fillna('')

In [29]:
#create new column for depression
df_depression['title_and_body'] = df_depression['title'] + ' ' + df_depression['body']

In [30]:
#create new column for happy 
df_happy['title_and_body'] = df_happy['title'] + ' ' + df_happy['body']

In [31]:
df_happy.head()

,id,title,body,author,score,total comment,created_utc,subreddit,title_and_body
0,v97etn,r/happy has a discord server!,,,70,6.0,1654866539,happy,r/happy has a discord server!
1,1bk9ush,"After a truly brutal quarter of grad school, I...",,biegman,369,15.0,1711036507,happy,"After a truly brutal quarter of grad school, I..."
2,1bkkcp8,We need more civilised discourse like this ❤️,,Acceptable_Day_1926,38,1.0,1711062266,happy,We need more civilised discourse like this ❤️
3,1bjnlra,I live in Oklahoma. Got this message from a pe...,,davinpantz,1724,31.0,1710966787,happy,I live in Oklahoma. Got this message from a pe...
4,1bjz1za,I’m so grateful I found an industry that makes...,I’m a 20 year old in my last year of college a...,cherrytortoni,126,11.0,1710998579,happy,I’m so grateful I found an industry that makes...

In [32]:
df_depression.head()

,id,title,body,author,score,total comment,created_utc,subreddit,title_and_body
0,doqwow,Our most-broken and least-understood rules is ...,We understand that most people who reply immed...,SQLwitch,2364,177.0,1572360722,depression,Our most-broken and least-understood rules is ...
1,16kqyd7,"Regular check-in post, with information about ...",Welcome to /r/depression's check-in post - a p...,SQLwitch,66,395.0,1694923331,depression,"Regular check-in post, with information about ..."
2,1bk9m1a,What's yalls depression food,Mine is either Mac&cheese hotdogs or lemons an...,pan-playdate,176,355.0,1711035875,depression,What's yalls depression food Mine is either Ma...
3,1bkonr0,"Suicides in the US reached over 50k in 2023, t...","It’s crazy for me to think, if that many peopl...",TheChubbyPlant,21,5.0,1711074477,depression,"Suicides in the US reached over 50k in 2023, t..."
4,1bkkksj,Antidepressants will make sex impossible,I've been on several antidepressants. You can'...,Beneficial-Tax-9093,23,29.0,1711062851,depression,Antidepressants will make sex impossible I've ...

Combine the 2 datasets, df_happy and df_depression into one datasets

In [33]:
#combine 2 datasets 
df = pd.concat([df_depression,df_happy], axis = 0)

In [34]:
#reset index of combined datasets
df = df.reset_index(drop=True)

In [35]:
df

,id,title,body,author,score,total comment,created_utc,subreddit,title_and_body
0,doqwow,Our most-broken and least-understood rules is ...,We understand that most people who reply immed...,SQLwitch,2364,177.0,1572360722,depression,Our most-broken and least-understood rules is ...
1,16kqyd7,"Regular check-in post, with information about ...",Welcome to /r/depression's check-in post - a p...,SQLwitch,66,395.0,1694923331,depression,"Regular check-in post, with information about ..."
2,1bk9m1a,What's yalls depression food,Mine is either Mac&cheese hotdogs or lemons an...,pan-playdate,176,355.0,1711035875,depression,What's yalls depression food Mine is either Ma...
3,1bkonr0,"Suicides in the US reached over 50k in 2023, t...","It’s crazy for me to think, if that many peopl...",TheChubbyPlant,21,5.0,1711074477,depression,"Suicides in the US reached over 50k in 2023, t..."
4,1bkkksj,Antidepressants will make sex impossible,I've been on several antidepressants. You can'...,Beneficial-Tax-9093,23,29.0,1711062851,depression,Antidepressants will make sex impossible I've ...
...,...,...,...,...,...,...,...,...,...
13804,kw1mg79,,Your outfit is so gorgeous 😍,Littlened,1,,1711115240,happy,Your outfit is so gorgeous 😍
13805,kw1q8pr,,This is the cutest thing I’ve ever seen! so pr...,JEjeje214,1,,1711116602,happy,This is the cutest thing I’ve ever seen! so p...
13806,kw1vmsa,,"Spring? Wtf, it's snowing today 😭\nThis is so ...",setzke,1,,1711118476,happy,"Spring? Wtf, it's snowing today 😭\nThis is so..."
13807,kw1x9gx,,Lucky!!!!!\n\nThis will be a blessed year for ...,_DigitalHunk_,1,,1711119033,happy,Lucky!!!!!\n\nThis will be a blessed year for...
13808,kw1xghs,,Or risk the wrath of a very pissed off Robin,mclen,1,,1711119099,happy,Or risk the wrath of a very pissed off Robin

Drop `title` and `body`

Since we have a new column for combination of both, we will drop these columns

In [36]:
df = df.drop(columns=['title','body'])

In [37]:
df

,id,author,score,total comment,created_utc,subreddit,title_and_body
0,doqwow,SQLwitch,2364,177.0,1572360722,depression,Our most-broken and least-understood rules is ...
1,16kqyd7,SQLwitch,66,395.0,1694923331,depression,"Regular check-in post, with information about ..."
2,1bk9m1a,pan-playdate,176,355.0,1711035875,depression,What's yalls depression food Mine is either Ma...
3,1bkonr0,TheChubbyPlant,21,5.0,1711074477,depression,"Suicides in the US reached over 50k in 2023, t..."
4,1bkkksj,Beneficial-Tax-9093,23,29.0,1711062851,depression,Antidepressants will make sex impossible I've ...
...,...,...,...,...,...,...,...
13804,kw1mg79,Littlened,1,,1711115240,happy,Your outfit is so gorgeous 😍
13805,kw1q8pr,JEjeje214,1,,1711116602,happy,This is the cutest thing I’ve ever seen! so p...
13806,kw1vmsa,setzke,1,,1711118476,happy,"Spring? Wtf, it's snowing today 😭\nThis is so..."
13807,kw1x9gx,_DigitalHunk_,1,,1711119033,happy,Lucky!!!!!\n\nThis will be a blessed year for...
13808,kw1xghs,mclen,1,,1711119099,happy,Or risk the wrath of a very pissed off Robin

Export cleaned datasets to csv file

In [38]:
# df.to_csv('../output/depression_happy_cleaned.csv', index = False)

#### Next: [Part 3 Preprocessing and EDA](Part_3_preprocessing_and_eda.ipynb)